<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="container-hero">
        <header>
            <div class="title">
                <h1 class="header-title">Logo</h1>
            </div>
            <div class="navbar">
                <a href="#" target="_blank" class="links" id="page-link">Home</a>
                <a href="#" target="_blank" class="links">About</a>
                <a href="#" target="_blank" class="links">Services</a>
                <a href="#" target="_blank" class="links">Project</a>
                <a href="#" target="_blank" class="links">Contact</a>
            </div>
        </header>
        <main>
            <div class="container">
                <h1 class="main-title">Best HTML Website Templates</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, inventore. Quaerat quae modi laborum similique, laudantium ut culpa cumque sint, non quibusdam doloribus est voluptatibus ipsum reiciendis tempora quod ab. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis eaque a consectetur laudantium! Voluptas nulla dictae!</p>
                <button>Download now</button>
            </div>
        </main>
    </div>
</body>
</html>
